main {
  padding: 0;
}



@media (min-width: 1044px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "featured featured more-new"
                         "trending trending trending"
                         "hapening-now hapening-now hapening-now";
  }
  #section_featured {
    grid-area: featured;
  }

  #section_more_news {
    grid-area: more-new;
  }

  #section_trending {
    grid-area: trending;
  }

  #section_happening_now {
    grid-area: hapening-now;
  }
}







