main {
  padding: 0;
}



@media (min-width: 1044px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 40rem; */
    /* grid-template-rows: repeat(2, 1fr); */
  }
}
