#section_trending article {
  background-color: #fff;
}

@media(min-width:768px) {


  #section_trending {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-inline-start: 3.5rem;
    margin-inline-end: 3.5rem;
  }
  #section_trending header {
     grid-column: 1 / 3;
  }

 #section_trending article:nth-of-type(3) {
   display: none;
 }
}
